h1{
    font-family: 'Trebuchet MS Italic';
    text-shadow: rgb(100,100,100) 5px 5px 5px;
}

*{  
    margin: 0px;
    padding: 0px;
}
header, footer, hgroup, article, aside, nav, section {display: block;}
body {text-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
}
#ana_kisim{
    width: 1000px;
    margin: 15px auto;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    border: 2px solid steelblue;
}
#ana_baslik {
    border-bottom : 1px dashed red;
    background-color  :rgb(87, 24, 87);
    color : lightyellow;   
    padding: 20px;
}
#ana_menu {
    background-color : rgb(77, 138, 123);
    padding: 3px;
}
#ana_menu li {
    display: inline-block;
    list-style: none;
    font : bold 20px Calibri;
    color: white;
    padding-left: 50px;
    
}
#kisim2{
    display: -webkit-box;
    -webkit-box-orient: horizontal;

}

#ana_makale{
    -webkit-box-flex: 1;
    margin: 25px;
}
#banner_kismi {   
    width: 200px;
    -webkit-box-flex: 0;
    margin: 10px;
    padding: 15px;
    background-color: coral;
}
#alt_kisim{
    
    padding: 10px;
    border-top: 1px dashed crimson;
}
#ana_makale footer{
    text-align: right;
}